.listeContainer {
}

.listeBaslik {
    padding: 30px;
    border-bottom: 2px thick silver;
    margin-bottom: 15px;
}

.listeContent {
}

    .listeContent table {
        width: 100%;
    }

        .listeContent table tr th {
            padding: 10px;
        }

        .listeContent table tr td {
            padding 10px;
            text-align: center;
        }
